html {
font-family: 'Carter One', helvetica;
}

body {
  background-color: #dcdce8;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  background: url(https://upload.wikimedia.org/wikipedia/commons/c/c7/Jyv%C3%A4skyl%C3%A4_-_Sepp%C3%A4l%C3%A4_flea_market_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: white;
  border: solid 2px black;
  padding: 60px;
  font-size: 70px;
  -webkit-text-stroke: 1px black;
}

.new_product {
  display: block;
}

.products {
  border: solid 1px black;
  display: inline-block;
  width: 30%;
  background-color: white;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.products h2 {
  text-decoration: underline;;
}

.form p {
  font-size: 20px;
}

input {
  padding: 5px;
}

.btn-default {
  padding: 10px;
}

.review {
  background-color: white;
  border: solid 3px black;
  margin-bottom: 0px;
}

.review h3 {
background-color: #05135a;
color: white;
-webkit-margin-before: 0em;

}

.review_product {
  text-decoration: underline;
}

.error_explanation {
  color: red;
  font-weight: bold;
}

.product_name {
font-size: 33px;
background-color: #fbc72e;
padding: 5px;
}

.price_description {
background-color: white;
border: solid 3px black;
margin-bottom: 5px;
}
